h1 {
    color: blue;
}



body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    /* display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center; */
    display:block;
    text-align: center;
    /* background-color: gray; */
    padding: 10px; 
}





/* .home-link {
    text-decoration: none;
    color: #007bff;
}

.home-link:hover {
    text-decoration: underline;
    justify-content: flex-end;
} */

main{
    margin:auto;
    padding:10%;
}

#blogForm{
    display: block;
    line-height: 2.5;
}

#blogForm input{
    width: 95%;
}

#blogForm label{
    width:100%;
}
#blogForm button {
    width: 100%;
    border-radius: 10px;
    background-color: gray;
    color: white;
    padding: 2%;
}

body {
    background-color: #ffffff;
    color: #000000;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
}


.dark-mode body {
    background-color: #000000;
    color: #ffffff;
}